body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;

  a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  a:hover {
    background-color: #ddd;
    color: black;
  }

  a.active {
    background-color: #04aa6d;
    color: white;
  }
}

.nav-header {
  padding-bottom: 0.5rem;

  .navbar{
    padding-bottom: 0 !important;
  }

  .bg-header {
    background-color: #222324;
  }

  a,
  .nav-link {
    color: #e9e9e9 !important;

    &:hover {
      color: #61dafb !important;
    }

  }

  .nav-link {
    &.active {
      color: #61dafb !important;
    }
  }

  .nav-brand{
    color: #61dafb !important;
  }

  .dropdown-menu {
    background-color: #222324;
    a {
      color: #e9e9e9 !important;
    }

    
  }

  .nav-link{
    &.active {
      color: #61dafb !important;
      border-bottom: 2px solid;
    }
  }

  .dropdown-item {
    &:hover{
      background-color: #222324;
      color: #61dafb !important;
    }
  }
}
